{{!< default}}
<article class="page-article">
    {{#if @page.show_title_and_feature_image}}
        {{#if feature_image}}
            <figure class="post-hero">
                <img src="{{img_url feature_image size="l"}}" alt="{{title}}" loading="lazy" />
                <div class="hero-glow"></div>
            </figure>
        {{/if}}
        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>
    {{/if}}

    <div class="post-content">
        {{content}}
    </div>
</article>
