{{!< default}}
<article class="post-article">
    {{#if @page.show_title_and_feature_image}}
        <div class="post-meta">root@blog:~$ cat {{slug}}.md</div>
        <h1 class="post-title">{{title}}</h1>
        <hr class="separator" />
    {{/if}}
    <div class="post-content">{{content}}</div>
</article>
